.repay-type
    box-shadow: 0px -4px 20px rgba(92, 102, 113, 0.1)
    border-radius: 40px 40px 0px 0px
    padding: 80px 0
    margin-top: -30px
    position: relative
    background-color: #fff
    &:after
        content: ''
        width: 870px
        height: 870px
        border-radius: 999px
        border: 160px solid #5AE0B6
        position: absolute
        right: 0
        top: 50%
        transform: translate(60%, -50%)
    .section-title
        margin-bottom: 20px
    &-text
        font-size: em(16)
        font-weight: 500
        color: var(--text-color)
    &-wrap
        margin: 60px 0
    &-row
        max-width: 790px
        display: flex
        justify-content: space-between
        margin-bottom: 20px
        &.--margin-top
            margin-top: 60px
        &.--margin-bottom
            margin-bottom: 80px
    &-col
        width: 376px
        height: 185px
        border-radius: 24px
        background-color: #f7f9fa
        padding-top: 46px
        text-align: center
        transition: box-shadow 0.4s ease
        &:hover
            box-shadow: 0 10px 20px rgba(#000, 0.1)
        img
            margin: auto
            max-width: 70px
        .repay-type-text
            max-width: 270px
            margin: auto
    &-subtitle
        font-size: em(22)
        font-weight: 600
        color: var(--text-color)
        margin-bottom: 16px
    &-list
        margin-bottom: 40px
@media (max-width: 1025px)
    .repay-type
        padding: 80px 20px
        &-row
            max-width: 100%
        &-col
            width: 49%
        &:after
            display: none
@media (max-width: 426px)
    .repay-type
        .section-title
            padding: 0
        &-row
            margin-bottom: 0
            display: block
            &.--margin-bottom
                margin-bottom: 60px
        &-col
            margin-bottom: 20px
            width: 100%
            height: auto
            padding: 20px 16px
            display: flex
            align-items: center
            border-radius: 12px
            img
                order: 1
                max-width: 60px
                margin: initial
                margin-right: 16px
            .repay-type-text
                order: 2
                margin: initial
                text-align: left
                max-width: 100%
        &-subtitle
            font-size: 1em
        &-text
            font-size: em(14)
