.about-page
    .subscribe
        margin-top: 80px
    &-row
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 1180px
        width: 100%
        margin: auto
        min-height: 480px
    &-inner
        border-radius: 40px 40px 0 0
        overflow: hidden
        position: relative
        &.--white
            &:after
                display: none
                content: ''
                width: 205px
                height: 235px
                background: url('/icons/u-icon.svg') center no-repeat
                background-size: cover
                position: absolute
                right: 0
                top: 50%
                transform: translate(30%, -50%)
        &.--black
            background-color: var(--text-color)
            .about-page-txt,
            .section-title
                color: #ffffff
            &:after
                display: none
                content: ''
                width: 200px
                height: 221px
                background: url('/icons/c-icon.svg') center no-repeat
                background-size: cover
                position: absolute
                left: 0
                top: 50%
                transform: translate(-40%, -50%)
    &-txt-wrp
        max-width: 380px
        position: relative
        z-index: 1
    &-img-wrp
        position: relative
        z-index: 1
    &-img-wrp img
        max-width: 560px
    &-txt
        font-size: em(14)
        font-weight: 400
        color: var(--text-color)
        margin-top: 16px
@media (max-width: 1025px)
    .about-page
        &-row
            padding: 0 20px
        &-img-wrp
            img
                max-width: 400px
@media (max-width: 769px)
    .about-page
        &-row
            flex-wrap: wrap
            padding: 50px 20px
        &-inner
            &.--black
                &:after
                    width: 600px
                    height: 600px
                    border-width: 100px
                .about-page-img-wrp
                    margin-bottom: 40px
        &-txt-wrp
            max-width: 100%
        &-img-wrp
            width: 100%
            img
                margin: auto
@media (max-width: 426px)
    .about-page
        .section-title
            padding: 0
        &-img-wrp
            img
                max-width: 300px
        &-inner
            &.--white
                &:after
                    width: 216px
                    height: 216px
                    border-width: 40px
            &.--black
                &:after
                    width: 216px
                    height: 216px
                    border-width: 40px
                    top: 30%
                .about-page-img-wrp img
                    max-width: 220px
