.contacts
    .layout-container
        display: flex
        margin-top: 80px
    .form
        margin-top: 40px
    .section-title
        margin-bottom: 16px
    &-left
        max-width: 575px
        margin-right: 124px
    &-text 
        font-size: em(16)
        font-weight: 400
        color: var(--text-color)
        &.--icon
            margin-bottom: 40px
            display: flex
            svg 
                min-width: 24px
                margin-right: 10px
            path 
                fill: #93989D
    &-label
        margin-bottom: 10px
        font-size: em(14)
        font-weight: 400
        color: #93989D