.footer
    background-color: #F7F9FA
    padding: 100px 0 30px
    margin-top: 80px
    &-inner
        margin: auto 
        max-width: 1180px
        width: 100%
    &-row,
    &-copyright
        display: flex
        justify-content: space-between
    &-copyright
        align-items: center
        margin-top: 50px
    &-link 
        display: block
        font-size: em(14)
        font-weight: 400
        color: var(--text-color)
        margin-bottom: 16px
        &.--icon
            display: flex
            align-items: center
            margin-bottom: 24px
            svg
                margin-right: 8px
            path 
                fill: #93989D
    &-subtitle 
        font-size: em(12)
        font-weight: 400
        color: #93989D
        margin-bottom: 10px
    &-socials a 
        margin-right: 16px
        display: inline-block
        &:last-child 
            margin-right: 0