.button
    display: inline-block
    background-color: var(--color-base)
    padding: 16px 40px
    color: #ffffff
    font-size: em(14)
    font-weight: 600
    border-radius: 8px
.section-title
    font-size: em(28)
    font-weight: 600
    color: var(--text-color)
.page-title
    font-size: em(36)
    font-weight: 600
    color: var(--text-color)
.home-slider
    &-title
        display: flex
        align-items: center
        justify-content: space-between
        h3 
            font-size: em(22)
            font-weight: 600
            color: var(--text-color)
    &-next,
    &-prev 
        padding: 0
        background-color: transparent
    &-prev 
        margin-right: 12px
    &-next svg 
        transform: rotate(-180deg)