.fade-enter-active,
.fade-leave-active
  transition: opacity 1s
.fade-enter,
.fade-leave-active
  opacity: 0

.dropdown-fade-enter-active,
.dropdown-fade-leave-active
  transition: opacity 0.4s ease
.dropdown-fade-enter,
.dropdown-fade-leave-active
  opacity: 0

.modal-fade-enter-active,
.modal-fade-leave-active
  transition: opacity 0.4s ease
.modal-fade-enter,
.modal-fade-leave-active
  opacity: 0

.slide-left-enter-active,
.slide-left-leave-active
  transition: transform 0.4s ease
.slide-left-enter,
.slide-left-leave-active
  transform: translateX(100%)
