.home-reviews
    margin: auto 
    margin-top: 120px
    margin-bottom: 160px
    .swiper-container
        margin-top: 22px
    .swiper-slide
        padding: 12px
        padding-bottom: 20px
    &-item
        border-radius: 24px
        padding: 32px 40px
        box-shadow: 0px 4px 20px rgba(92, 102, 113, 0.1)
    &-name-wrp
        display: flex
        align-items: flex-start
        margin-bottom: 24px
        h4 
            font-size: em(20)
            font-weight: 400
            color: var(--text-color)
        p 
            font-size: em(14)
            font-weight: 400
            color: #93989D
        img 
            margin-right: 24px
    &-text 
        font-size: em(16)
        font-weight: 400
        color: var(--text-color)